body,
html,
.container {
  background-color: #F9F9F9;
  height: 100%;
  margin: 0;
  padding: 0;
}

a,
a:link,
a:visited {
  color: #F72D2D;
}

body,
input,
button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

* {
  box-sizing: border-box;
}

.messages-and-clients,
.compose {
  padding: 5px;
  margin: 0 auto;
  width: 95%;
}

.messages {
  background-color: #fff;
  border: 1px solid #E2E2E2;
  height: 100%;
  overflow: auto;
}

.messages-and-clients {
  height: 80%;
}

.compose input {
  background-color: #fff;
  border: 1px solid #E2E2E2;
  padding: 5px;
  width: 90%;
}

.compose button {
  float: right;
  background-color: #F72D2D;
  color: #fff;
  border: none;
  padding: 5px;
  text-align: center;
  width: 10%;
}

.messages-list {
  list-style-type: none;
}

.from {
  font-weight: bold;
  display: inline-block;
  min-width: 300px;
}

.clickable .from {
  cursor: pointer;
}

.self .from {
  color: #F72D2D;
}

.secret {
  color: #B392DD;
  font-style: italic;
}

.notice {
  color: #999;
  font-style: italic;
}

*[disabled] {
  background-color: #ECECEC !important;
  cursor: not-allowed;
}