<template name="Home">
  
  <div class="container">
    
    <div class="messages-and-clients">
    
      <div class="messages">
        <ul class="messages-list">
          <li class="notice">
            Welcome to the <a href="#">Streamy</a> chat sample! Enter your message and type enter. If you click on a user id, it will send a private message to this client.
            <br />
            ---
          </li>
        </ul>
      </div>
      
      <div class="clients">
        
      </div>
      
    </div>
    
    <div class="compose">
      {{> Compose}}
    </div>
    
  </div>
  
</template>

<template name="Compose">
  <form>
    <input type="text" class="message" placeholder="Type your message here" disabled="disabled" />
    <button type="submit" class="send" disabled="disabled">Send</button>
  </form>
</template>